<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>2016天猫双十一大狂欢</title>
</head>
<body style="margin:0; padding:0;font-family:SimHei;">
	<table cellspacing="0" cellpadding="0" border="0" style="font-size:0; border:0; margin:0; padding:0; line-height:0;width:640px;margin:0 auto;">
		<tbody>
			<tr>
				<td style="margin:0;padding:0;line-height:0;background: #1d1d1d none repeat scroll 0 0;">
					<p style="margin:0;padding:0;font-size:16px;line-height:18px;margin: 32px 25px 34px;color:#fff;">亲爱的$receiver，您好：</p>
					<p style="margin:0;padding:0;font-size:16px;line-height:24px;margin: 0 25px;color:#fff;">一年一度的双十一又来了，快来看看各大。</p>
				</td>
			</tr>
			
			<tr>
				<td style="margin:0;padding:0;width:640px;text-align:left;border:0;">
					<table cellspacing="0" cellpadding="0" border="0" style="font-size:0; border:0; margin:0; padding:0; line-height:0;width:590px;margin:0 25px;padding:20px 0;overflow:hidden;">
						<tbody>
							<tr>
								<td style="line-height:0;width:310px;vertical-align:top;">
									<a target="_blank" href="http://s.click.taobao.com/yimZtPx" style="text-decoration:none;display:block;">
									<img src="http://gqrcode.alicdn.com/img?type=hv&text=http://s.click.taobao.com/WehZtPx&h=300&w=300" width="200" height="200" border="0" style="display:block; background-color:#E6E6E6;" alt="天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始" />
									</a>
								</td>
								<td style="line-height:0;width:280px;text-align:left;vertical-align:top;">
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										<a target="_blank" href="http://s.click.taobao.com/9yQkzPx" style="font-size:16px;line-height:24px;color:#4a4a4a;text-decoration:none;font-weight:bold;">
										天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始
										</a>
									</p>
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										PC端直接点击上面的链接，手机扫描二维码进入
									</p>
								</td>
							</tr>
							<tr>
								<td style="line-height:0;width:310px;vertical-align:top;">
									<a target="_blank" href="http://s.click.taobao.com/yimZtPx" style="text-decoration:none;display:block;">
									<img src="http://gqrcode.alicdn.com/img?type=hv&text=http://s.click.taobao.com/WehZtPx&h=300&w=300" width="200" height="200" border="0" style="display:block; background-color:#E6E6E6;" alt="天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始" />
									</a>
								</td>
								<td style="line-height:0;width:280px;text-align:left;vertical-align:top;">
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										<a target="_blank" href="http://s.click.taobao.com/9yQkzPx" style="font-size:16px;line-height:24px;color:#4a4a4a;text-decoration:none;font-weight:bold;">
										天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始
										</a>
									</p>
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										PC端直接点击上面的链接，手机扫描二维码进入
									</p>
								</td>
							</tr>
							<tr>
								<td style="line-height:0;width:310px;vertical-align:top;">
									<a target="_blank" href="http://s.click.taobao.com/yimZtPx" style="text-decoration:none;display:block;">
									<img src="http://gqrcode.alicdn.com/img?type=hv&text=http://s.click.taobao.com/WehZtPx&h=300&w=300" width="200" height="200" border="0" style="display:block; background-color:#E6E6E6;" alt="天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始" />
									</a>
								</td>
								<td style="line-height:0;width:280px;text-align:left;vertical-align:top;">
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										<a target="_blank" href="http://s.click.taobao.com/9yQkzPx" style="font-size:16px;line-height:24px;color:#4a4a4a;text-decoration:none;font-weight:bold;">
										天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始
										</a>
									</p>
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										PC端直接点击上面的链接，手机扫描二维码进入
									</p>
								</td>
							</tr>
							<tr>
								<td style="line-height:0;width:310px;vertical-align:top;">
									<a target="_blank" href="http://s.click.taobao.com/yimZtPx" style="text-decoration:none;display:block;">
									<img src="http://gqrcode.alicdn.com/img?type=hv&text=http://s.click.taobao.com/WehZtPx&h=300&w=300" width="200" height="200" border="0" style="display:block; background-color:#E6E6E6;" alt="天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始" />
									</a>
								</td>
								<td style="line-height:0;width:280px;text-align:left;vertical-align:top;">
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										<a target="_blank" href="http://s.click.taobao.com/9yQkzPx" style="font-size:16px;line-height:24px;color:#4a4a4a;text-decoration:none;font-weight:bold;">
										天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始
										</a>
									</p>
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										PC端直接点击上面的链接，手机扫描二维码进入
									</p>
								</td>
							</tr>
							<tr>
								<td style="line-height:0;width:310px;vertical-align:top;">
									<a target="_blank" href="http://s.click.taobao.com/yimZtPx" style="text-decoration:none;display:block;">
									<img src="http://gqrcode.alicdn.com/img?type=hv&text=http://s.click.taobao.com/WehZtPx&h=300&w=300" width="200" height="200" border="0" style="display:block; background-color:#E6E6E6;" alt="天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始" />
									</a>
								</td>
								<td style="line-height:0;width:280px;text-align:left;vertical-align:top;">
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										<a target="_blank" href="http://s.click.taobao.com/9yQkzPx" style="font-size:16px;line-height:24px;color:#4a4a4a;text-decoration:none;font-weight:bold;">
										天猫2016双11来啦-全球时尚主会场（超级红包）11月1日预热开始
										</a>
									</p>
									<p style="margin:0;padding:0;font-size:16px;line-height:24px;color:#4a4a4a;margin-bottom: 5px;">
										PC端直接点击上面的链接，手机扫描二维码进入
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>