<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>message/messages</value>
			</list>
		</property>
		
		<!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为值  -->               
    	<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
</beans>