<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		">
	<bean id="solrClinet" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
		<constructor-arg value="http://localhost:8080/solr/i.t"></constructor-arg>
		<property name="soTimeout" value="10000" />
		<property name="connectionTimeout" value="50000" />
	</bean>
	
	<!-- <bean id="solrClinet" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
		<constructor-arg index="0">
			<value>zookeeper01.public.test.yaotrue.cn:2181,zookeeper02.public.test.yaotrue.cn:2181,zookeeper03.public.test.yaotrue.cn:2181</value>
		</constructor-arg>
		<property name="defaultCollection" value="it-test" />
		<property name="zkClientTimeout" value="20000" />
		<property name="zkConnectTimeout" value="50000" />
	</bean> -->
</beans>